
{% load static %}
    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <img src="{% static 'assets/img/techstarslogo.png' %}" />
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          {% if request.user.user_type == 3 %}
            <li>
              <a href="{% url 'summary' %}">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Summary</p>
              </a>
            </li>
            <li>
              <a href="{% url 'upload' %}" >
                <i class="tim-icons icon-upload"></i>
                <p>Upload File</p>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}" >
                <i class="tim-icons icon-user-run"></i>
                <p>Logout</p>
              </a>
            </li>
          </ul>
          {% endif %}
        {% endif %}
        
      </div>
    </div>
