{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
  .dot {
  height: 25px;
  width: 25px;
  background-color: #3bff2b;
  border-radius: 50%;
  display: inline-block;
}
</style>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Matches Summary</h4>
        <div style="display: inline-flex;">
          <h4 class="mr-2">6: </h4><span class="dot mr-2"></span>
          <h4 class="mr-2">3: </h4><span class="dot mr-2" style="background-color: #5cb85c;"></span>
          <h4 class="mr-2">2: </h4><span class="dot mr-2" style="background-color: #ffc300;"></span>
          <h4 class="mr-2">1: </h4><span class="dot mr-2" style="background-color: #ffef5c;"></span>
          <h4 class="mr-2">0: </h4><span class="dot mr-2" style="background-color: red;"></span>
          <h4 class="mr-2">N/A: </h4><span class="dot mr-2" style="background-color: #fff;"></span>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Mentor
                </th>
                {% for startup in startups %}
                    <th class="text-center">
                    <a href="/startup/{{startup.id}}/" target="blank">{{startup.companyName}}</a>
                    </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for mylist2 in mylist %}
                <tr>
                    {% for value in mylist2 %}
                        {% if value.value == 6 %}
                          <td class="text-center"><span data-toggle="modal" data-target="#staticBackdrop{{value.id}}" class="dot"></span></td>
                        {% elif value.value == 3%}
                          <td class="text-center"><span class="dot" data-toggle="modal" data-target="#staticBackdrop{{value.id}}" style="background-color: #5cb85c;"></span></td>
                        {% elif value.value == 2%}
                          <td class="text-center"><span class="dot" data-toggle="modal" data-target="#staticBackdrop{{value.id}}" style="background-color: #ffc300;"></span></td>
                        {% elif value.value == 1%}
                          <td class="text-center"><span class="dot" data-toggle="modal" data-target="#staticBackdrop{{value.id}}" style="background-color: #ffef5c;"></span></td>
                        {% elif value.value == 0%}
                          <td class="text-center"><span class="dot" data-toggle="modal" data-target="#staticBackdrop{{value.id}}" style="background-color: red;"></span></td>
                        {% elif value.value == 'na'%}
                          <td class="text-center"><span data-toggle="modal" data-target="#staticBackdrop{{value.id}}" class="dot" style="background-color: #fff;"></span></td>
                        {% else %}
                          <td class="text-center"><a href="mentors/{{value.id}}/" target="blank">{{value}}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% for appointment in appointments %}
    <div class="modal fade modal-black" id="staticBackdrop{{appointment.id}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="staticBackdropLabel">Vote Results</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row m-2">
                {% if appointment.startupResponse == 'want' %}
                <h4>The company {{appointment.startup.companyName}} <strong style="color: #39C463;">{{appointment.startupResponse}}s</strong> to work with {{appointment.mentor.name}}</h4>
                {% elif appointment.startupResponse == 'willing'%}
                <h4>The company {{appointment.startup.companyName}} is <strong style="color: #ffc107;">{{appointment.startupResponse}}</strong> to work with {{appointment.mentor.name}}</h4>
                {% else %}
                <h4>The company {{appointment.startup.companyName}} <strong style="color: #dc3545;">{{appointment.startupResponse}}</strong> like to work with {{appointment.mentor.name}}</h4>
                {% endif %}
                {% if appointment.mentorResponse == 'want' %}
                <h4>The mentor {{appointment.mentor.name}} <strong style="color: #39C463;">{{appointment.mentorResponse}}s</strong> to work with {{appointment.startup.companyName}}</h4>
                {% elif appointment.mentorResponse == 'willing' %}
                <h4>The mentor {{appointment.mentor.name}} is <strong style="color: #ffc107;">{{appointment.mentorResponse}}</strong> to work with {{appointment.startup.companyName}}</h4>
                {% else %}
                <h4>The mentor {{appointment.mentor.name}} <strong style="color: #dc3545;">{{appointment.mentorResponse}}</strong> like to work with {{appointment.startup.companyName}}</h4>
                {% endif %}
              </div>
              <div class="row m-2">
                <p>{{appointment.startup.companyName}} ranked {{appointment.mentor.name}} with <strong style="color: #39C463">{{appointment.startupRank}}</strong> score</p>
                <p>{{appointment.mentor.name}} ranked {{appointment.startup.companyName}} with <strong style="color: #39C463">{{appointment.mentorRank }}</strong> score</p>
              </div>
              <div class="row m-2">
                <p>{{appointment.startup.companyName}} leaved the following comments: {{appointment.startupNotes}}</p>
                <p>{{appointment.mentor.name}} leaved the following comments: {{appointment.mentorNotes}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}
