{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
  .dot {
  height: 25px;
  width: 25px;
  background-color: #3bff2b;
  border-radius: 50%;
  display: inline-block;
}
</style>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Matches Summary</h4>
        <div style="display: inline-flex;">
          <h4 class="mr-2">6: </h4><span class="dot mr-2"></span>
          <h4 class="mr-2">3: </h4><span class="dot mr-2" style="background-color: #5cb85c;"></span>
          <h4 class="mr-2">2: </h4><span class="dot mr-2" style="background-color: #ffc300;"></span>
          <h4 class="mr-2">1: </h4><span class="dot mr-2" style="background-color: #ffef5c;"></span>
          <h4 class="mr-2">0: </h4><span class="dot mr-2" style="background-color: red;"></span>
          <h4 class="mr-2">N/A: </h4><span class="dot mr-2" style="background-color: #fff;"></span>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Mentor
                </th>
                {% for startup in startups %}
                    <th class="text-center">
                    {{startup.companyName}}
                    </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for mylist2 in mylist %}
                <tr>
                    {% for value in mylist2 %}
                        {% if value == 6 %}
                          <td class="text-center"><span class="dot"></span></td>
                        {% elif value == 3%}
                          <td class="text-center"><span class="dot" style="background-color: #5cb85c;"></span></td>
                        {% elif value == 2%}
                          <td class="text-center"><span class="dot" style="background-color: #ffc300;"></span></td>
                        {% elif value == 1%}
                          <td class="text-center"><span class="dot" style="background-color: #ffef5c;"></span></td>
                        {% elif value == 0%}
                          <td class="text-center"><span class="dot" style="background-color: red;"></span></td>
                        {% elif value == 'na'%}
                          <td class="text-center"><span class="dot" style="background-color: #fff;"></span></td>
                        {% else %}
                          <td class="text-center">{{value}}</span></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
