{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
  
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<style>
    .mainrow {
        margin: 2em;
    }

    
    /*Profile Card 4*/
    .profile-card-4 {
      font-family: 'Open Sans', Arial, sans-serif;
      position: relative;
      float: left;
      overflow: hidden;
      width: 100%;
      text-align: center;
      border:none;
    }

    .profile-card-4 .background-block {
        float: left;
        width: 100%;
        height: 15em;
        overflow: hidden;
    }
    .profile-card-4 .background-block .background {
      width:100%;
      vertical-align: top;
      opacity: 0.9;
      transform: scale(2.8);
    }
    .profile-card-4 .card-content {
      width: 100%;
      padding: 15px 25px;
      color:#232323;
      float:left;
      background:#181825;
      border-radius:0 0 5px 5px;
      position: relative;
      z-index: 1;
    }
    .profile-card-4 .card-content::before {
        content: '';
        background: #181825;
        width: 120%;
        height: 100%;
        left: 11px;
        bottom: 50px;
        position: absolute;
        z-index: -1;
        transform: rotate(-13deg);
    }
    .profile-card-4 .profile {
      border-radius: 50%;
      position: absolute;
      bottom: 60%;
      left: 50%;
      max-width: 100px;
      opacity: 1;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
      border: 2px solid rgba(255, 255, 255, 1);
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      z-index:2;
    }
    .profile-card-4 h3 {
      margin: 0 0 5px;
      font-weight: 600;
      font-size:20px;
    }
    .profile-card-4 h3 small {
      display: block;
      font-size: 15px;
    }
    .profile-card-4 i {
      display: inline-block;
        font-size: 16px;
        background-color: #39C463;
        color: white;
        text-align: center;
        border: 1px solid #39C463;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin:0 5px;
    }
    .profile-card-4 .icon-block{
        float:left;
        width:100%;
        margin-top:15px;
    }
    .profile-card-4 .icon-block a{
        text-decoration:none;
    }

    .profile-card-4 .boton{
      position: relative;
      display: inline-block;
      font-weight: 600;
      color: white;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background: rgba(255,255,255, 0.3);
      border: 1px solid transparent;
      padding: 10px 10px;
      font-size: 0.775rem;
      line-height: 1.35em;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .profile-card-4 .boton:hover {
      background-color: #39C463;
    }

    .customrow {
      position: relative;
      flex-wrap: nowrap;
      overflow-x: auto !important;
    }

    .successbtn {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #39C463, #136c2e, #39C463);
    }

    .successbtn:hover {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #49ff80, #23ad4d, #49ff80) !important;
    }

    .warningbtn {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #ffc107, #c19205, #ffc107);
    }

    .warningbtn:hover {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #ffe800, #cc9c10, #ffe800) !important;
    }

    .dangerbtn {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #dc3545, #c82333, #dc3545);
    }

    .dangerbtn:hover {
      position=absolute;
      bottom: -0.2em;
      background-image: linear-gradient(to bottom left, #ff3e51, #da1327, #ff3e51) !important;
    }

</style>
    <div style="padding: 2em">
        <div class="card text-center">
            <h2 class="card-title mt-2">{{startup.companyName}}</h2>
            <div class="row mainrow">
            {% for appointment in appointments %}
                <div class="col-lg-2 col-md-12">
                    <div class="card profile-card-4">
                        <div class="background-block">
                        <img src="https://i.imgur.com/F1vprAz.png" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="{{appointment.mentor.mentorPic.url}}" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                            <h3>{{appointment.mentor.name}}</h3>
                            {% if appointment.startupResponse %}
                                <h3 style="display: block;" id="responsemessage{{appointment.id}}"><p><b>Thank you for your response</b></p><i class="fas fa-undo-alt" style="background: #007bff; border: 1px solid #007bff; cursor: pointer;" onclick="undoresponse({{appointment.id}})"></i></h3>
                                <div id="appointment{{appointment.id}}" style="display: none">
                                    <button class="btn btn-sm successbtn" onClick="appendresponses({{appointment.id}}, 'want')">Want</button>
                                    <button class="btn btn-sm warningbtn" onClick="appendresponses({{appointment.id}}, 'willing')">Willing</button>
                                    <button class="btn btn-sm dangerbtn" onClick="appendresponses({{appointment.id}}, 'wont')">Won't</button>
                                </div>
                            {% else %}
                                <h3 style="display: none;" id="responsemessage{{appointment.id}}"><p><b>Thank you for your response</b></p><i class="fas fa-undo-alt" style="background: #007bff; border: 1px solid #007bff; cursor: pointer;" onclick="undoresponse({{appointment.id}})"></i></h3>
                                <div id="appointment{{appointment.id}}">
                                    <button class="btn btn-sm successbtn" onClick="appendresponses({{appointment.id}}, 'want')">Want</button>
                                    <button class="btn btn-sm warningbtn" onClick="appendresponses({{appointment.id}}, 'willing')">Willing</button>
                                    <button class="btn btn-sm dangerbtn" onClick="appendresponses({{appointment.id}}, 'wont')">Won't</button>
                                </div>
                            {% endif %}
                            <div class="form-group" style="margin: 1em;">
                                <label>Why</label>
                                <textarea rows="4" cols="80" class="form-control" placeholder="Type here"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="text-center mb-5">
                <button type="button" class="btn btn-primary" style="margin: 0 auto;" id="submitbutton" onclick="submit()">Submit</button>
            </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var responses = []
    var mentorstotal = {{appointments.count}}

    function appendresponses (id, response) {
        if(responses.includes(responses.find(object => object.id === id))){
            elementtoupdate = responses.find(object => object.id === id)
            elementtoupdate.startup = response
        } else {
            responses.push(
            {'id': id, 'startup': response}
            )
        }
        buttons = document.getElementById("appointment" + id);
        buttons.style.display = 'none';
        selectedresponse = document.getElementById("responsemessage" + id);
        selectedresponse.style.display = 'block';
        if (responses.length === mentorstotal) {
            mybutton = document.getElementById("submitbutton")
            mybutton.classList.remove("disabled");
        }
    }

    function undoresponse(id) {
        myid = id;
        console.log(responses)
        if(responses.length !== 0){
            objecttoupdate = responses.find(object => object.id === id)
            objecttoupdate.startup = '';
        } else {
            var objecttoupdate = {}
            objecttoupdate = {'id': id, 'startup': ''}
            responses.push(objecttoupdate)
        }
        buttons = document.getElementById("appointment" + id);
        buttons.style.display = 'block'
        selectedresponse = document.getElementById("responsemessage" + id);
        selectedresponse.style.display = 'none'
        console.log(responses)
    }

    function submit (answers=responses) {
        fetch('/updateresponses', {
          method: 'POST',
          headers:{'content-type': 'application/json'},
          body: JSON.stringify(answers)
        })
        .then(function(response) {
          if(response.ok) {
              return response.text()
          } else {
              throw "Error en la llamada Ajax";
          }

        })
        .then(function(texto) {
          console.log(texto);
        })
        .catch(function(err) {
          console.log(err);
        });
    }
</script>

{% endblock javascripts %}
